@model IEnumerable<Olbrasoft.Travel.Data.Transfer.Objects.Geography.ContinentItem>

@{
    ViewBag.Title = "TravelDatabaseContext";
}

@inject IViewLocalizer Localizer

@{
    ViewData["H1"] = Localizer["Travel"];
}

<style>
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
</style>

<script>

    $(function() {
        $.widget("custom.catcomplete",
            $.ui.autocomplete,
            {
                _create: function() {
                    this._super();
                    this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
                },
                _renderMenu: function(ul, items) {
                    var that = this,
                        currentCategory = "";
                    $.each(items,
                        function(index, item) {
                            var li;
                            if (item.category != currentCategory) {
                                ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                                currentCategory = item.category;
                            }
                            li = that._renderItemData(ul, item);
                            if (item.category) {
                                li.attr("aria-label", item.category + " : " + item.label);
                            }
                        });
                }
            });
    });

    $(document).ready(function() {
       $("#search").catcomplete({
           source: "@Url.Action("Suggestions", "Home")",
           minLength: 3
      });
    });
</script>

<div class="container" style="        padding-top: 100px;">
    <div class="row gridResize">

        <div class="col-sm-7 col-xs-12">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <input id="search">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="input-group date ed-datepicker" data-provide="datepicker">
                        <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                        <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="input-group date ed-datepicker" data-provide="datepicker">
                        <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                        <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12">
            <a href="#" class="btn btn-block buttonCustomPrimary">Search</a>
        </div>
    </div>
</div>

<section class="mainContentSection">
    <div class="container">

        Languages: @ViewData["Languages"]

        AutocompleteUrl: @Url.Action("Suggestions", "Home")

        <div>
            <a asp-controller="Properties" asp-route-culture="@CultureInfo.CurrentUICulture" asp-action="Index">RealEstates</a>
            <br />

            <h2>Continents</h2>

            @foreach (var continent in Model)
                {
            <div>
                <a asp-controller="Home" asp-action="Continent" asp-route-culture="@CultureInfo.CurrentUICulture" asp-route-id="@continent.Id">@continent.Name</a>
            </div>
                }
        </div>
    </div>
</section>