@model IEnumerable<Olbrasoft.Travel.Data.Transfer.Objects.Geography.ContinentItem>

@{
    ViewBag.Title = "TravelDatabaseContext";
}

@inject IViewLocalizer Localizer

@{
    ViewData["H1"] = Localizer["Travel"];
}

<style>
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }

    .ui-autocomplete-loading { background: white url('images/Gear-3s-21px.gif') right center no-repeat; }
</style>


@*<script>
    function html_entity_decode(str) {
        var ta = document.createElement("textarea");
        ta.innerHTML = str.replace(/</g, "<").replace(/>/g, ">");
        return ta.value;
    }

    $.widget("custom.catcomplete", $.ui.autocomplete, {
        _renderMenu: function (ul, items) {
            var self = this,
                currentCategory = "";
            $.each(items, function (index, item) {
                if (item.category != currentCategory) {
                    item.category = html_entity_decode(item.category);
                    ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                    currentCategory = item.category;
                }
                item.label = html_entity_decode(item.label);
                self._renderItem(ul, item);
            });
        }
    });

    $(function () {
        $("#searchbox").catcomplete({
            source: function (request, response) {
                request.term = escape(request.term);
                var lastXhr = $.getJSON("autocomplete.php", request, function (data, status, xhr) {
                    response(data);
                });
            },
            minLength: 2,
            delay: 300,
            highlight: true,
            select: function (event, ui) {
                if (ui.item.value.indexOf("cat") === 0) {
                    //category
                    location.href = document.location.protocol + '//' + window.location.host + "/index.php?cPath=" + ui.item.value.substring(3);
                }
                else {
                    //product
                    location.href = document.location.protocol + '//' + window.location.host + "/product_info.php?products_id=" + ui.item.value;
                }

                return false;
            }
        })
            .data("catcomplete")._renderItem = function (ul, item) {
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><img src='" + item.image + "' />" + item.label + "</a>")
                    .appendTo(ul);
            };

    });
</script>*@


<script>
    // Category autocomplete widget with matching text highlighting
// https://jqueryui.com/autocomplete/#categories
    $.widget("custom.catcomplete",
        $.ui.autocomplete,
        {
            _create: function() {
                this._super();
                this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
            },
            _renderMenu: function(ul, items) {
                var that = this,
                    currentCategory = "";
                $.each(items,
                    function(index, item) {
                        var li;
                        if (item.category !== currentCategory) {
                            ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                            currentCategory = item.category;
                        }
                        li = that._renderItemData(ul, item);
                        if (item.category) {
                            li.attr("aria-label", item.category + " : " + item.label);
                        }
                    });
            }
        });

    $(function () {
        function highlightText(text, $node) {
            var searchText = $.trim(text).toLowerCase(),
                currentNode = $node.get(0).firstChild,
                matchIndex,
                newTextNode,
                newSpanNode;
            while ((matchIndex = currentNode.data.toLowerCase().indexOf(searchText)) >= 0) {
                newTextNode = currentNode.splitText(matchIndex);
                currentNode = newTextNode.splitText(searchText.length);
                newSpanNode = document.createElement("span");
                newSpanNode.className = "highlight";
                currentNode.parentNode.insertBefore(newSpanNode, currentNode);
                newSpanNode.appendChild(newTextNode);
            }
        }

        $(document).ready(function() {
            $("#search").catcomplete({
                source: "@Url.Action("Suggestions", "Home")",
                minLength: 3

            }).data("custom-catcomplete")._renderItem = function(ul, item) {
                var $a = $("<a></a>").text(item.label);
                highlightText(this.term, $a);
                //console.log(this.term)
                return $("<li></li>").append($a).appendTo(ul);
            };
        });

    });
</script>


@*<script>

    $(function() {
        $.widget("custom.catcomplete",
            $.ui.autocomplete,
            {
                _create: function() {
                    this._super();
                    this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
                },
                _renderMenu: function(ul, items) {
                    var that = this,
                        currentCategory = "";
                    $.each(items,
                        function(index, item) {
                            var li;
                            if (item.category != currentCategory) {
                                ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                                currentCategory = item.category;
                            }
                            li = that._renderItemData(ul, item);
                            if (item.category) {
                                li.attr("aria-label", item.category + " : " + item.label);
                            }
                        });
                }
            });
    });

    $(document).ready(function() {
       $("#search").catcomplete({
           source: "@Url.Action("Suggestions", "Home")",
           minLength: 3,
           highlight: true
      });
    });
</script>*@

<div class="container" style="        padding-top: 100px;">
    <div class="row gridResize">

        <div class="col-sm-7 col-xs-12">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <input id="search">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="input-group date ed-datepicker" data-provide="datepicker">
                        <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                        <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="input-group date ed-datepicker" data-provide="datepicker">
                        <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                        <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12">
            <a href="#" class="btn btn-block buttonCustomPrimary">Search</a>
        </div>
    </div>
</div>

<section class="mainContentSection">
    <div class="container">

        Languages: @ViewData["Languages"]

        AutocompleteUrl: @Url.Action("Suggestions", "Home")

        <div>
            <a asp-controller="Properties" asp-route-culture="@CultureInfo.CurrentUICulture" asp-action="Index">RealEstates</a>
            <br />

            <h2>Continents</h2>

            @foreach (var continent in Model)
                {
            <div>
                <a asp-controller="Home" asp-action="Continent" asp-route-culture="@CultureInfo.CurrentUICulture" asp-route-id="@continent.Id">@continent.Name</a>
            </div>
                }
        </div>
    </div>
</section>