@model Olbrasoft.Travel.Data.Transfer.Object.AccommodationDetail

<!-- PAGE CONTENT -->
<section class="mainContentSection singleHotel">
    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="package-carousel" class="carousel slide" data-ride="carousel">

                            @{
                                var active = "active";
                            }

                            <ol class="carousel-indicators">
                                <li data-target="#package-carousel" data-slide-to="0" class=""></li>
                                <li data-target="#package-carousel" data-slide-to="1" class=""></li>
                                <li data-target="#package-carousel" data-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner">

                                @foreach (var photo in Model.Photos)
                                {

                                    <div class="item @active">
                                        <img alt="" src="@photo">
                                    </div>

                                    active = string.Empty;

                                }
                            </div>
                            <a class="left carousel-control" href="#package-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
                            <a class="right carousel-control" href="#package-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="description-aria">
                            <div class="sectionTitle2">

                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="rooms-types-aria">
                            <div class="sectionTitle2">
                                <h2>rooms types</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>

                            <div class="roomCategory">

                                @foreach (var room in Model.Rooms)
                                {
                                    <div class="sub-title">
                                        <h4>@room.Name</h4>

                                        @Html.Raw(room.Description)
                                    </div>

                                    <div class="roomGallery">
                                        @foreach (var photo in room.Photos)
                                        {
                                            <div class="single-item">
                                                <a class="fancybox-pop" rel="portfolio-1" href="@photo">
                                                    <img src="@photo" alt="Double Room">
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <hr>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="location-aria">
                            <div class="sectionTitle2">
                                <h2>Location</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div id="map"></div>
                            <script asyn defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClWgMtjkbBjUJJx8DunzJKINP8tDouRIY&callback=initMap"></script>
                            <script>
                                        function initMap() {

                                            var mapOptions = {
                                                center: new window.google.maps.LatLng(@Model.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture),  @Model.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture) ),
                                                zoom: 4,
                                                mapTypeId: window.google.maps.MapTypeId.ROADMAP
                                            };

                                            var map = new window.google.maps.Map(document.getElementById("map"),
                                                mapOptions);

                                            var image =
                                                'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

                                            var marker = new window.google.maps.Marker({
                                                position:
                                                    new window.google.maps.LatLng(@Model.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture),  @Model.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture) ),
                                                map: map,
                                                icon: image
                                            });

                                            var a = marker.position;
                                        }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-sm-4 col-xs-12">
                <div class="singleCartSidebar">
                    <div class="panel panel-default" style="border-color: #545454;">
                        <div class="panel-heading" style="background-color: #e7eaed;">Check availability</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Check in:</label>
                                            <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                                                <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                                                    <input id="In" style="background-color: #f1f3f4;border-color: #545454;" type="text" class="form-control" placeholder="MM/DD/YYYY">
                                                    <div class="input-group-addon">
                                                        <span class="far fa-calendar-alt"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Check out:</label>
                                            <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                                                <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                                                    <input style="background-color: #f1f3f4;border-color:#545454;" id="Out" type="text" class="form-control" placeholder="MM/DD/YYYY">
                                                    <div class="input-group-addon">
                                                        <span class="far fa-calendar-alt"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Rooms type:</label>
                                            <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                                                <div class="searchFilter" style="background-color: #f1f3f4;border-color:#545454;">
                                                    <select style="background-color: #f1f3f4;border-color:#545454;" name="guiest_id3" id="Rooms" class="select-drop">
                                                        <option value="0">Double Room</option>
                                                        <option value="1">Single Room</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Guest:</label>
                                            <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                                                <div class="count-input">
                                                    <a class="incr-btn" data-action="decrease" href="#"><i class="fas fa-user-minus" aria-hidden="true" style="font-size: 56%"></i></a>
                                                    <input style="background-color: #f1f3f4;border-color:#545454;" class="quantity" type="text" value="1">
                                                    <a class="incr-btn" data-action="increase" href="#"><i class="fas fa-user-plus" aria-hidden="true" style="font-size: 56%"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="totalCost" style="border-color:#545454;">
                                            <div class="col-xs-8 totalCostLeft">
                                                <p>Total Cost</p>
                                            </div>
                                            <div class="col-xs-4 totalCostRight">$198</div>
                                        </div>
                                        <div class="col-sm-12">
                                            <a href="#" style="border-color: #545454" class="btn btn-block buttonTransparent">Check now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.Attributes.Any(p => p.SubTypeId == 1))
                {
                    <ul class="descriptionList" style="padding-top: 20px;">
                        @foreach (var amenityOfAccommodation in Model.Attributes.Where(p => p.SubTypeId == 1))
                        {
                            <li style="padding-top: 10px;">
                                <span class="fa-stack">
                                    <i title="@amenityOfAccommodation.Description @amenityOfAccommodation.Text" class="@Html.GetAmenityOfAccommodationClassContent(amenityOfAccommodation) fa-stack-1x" style="color: #ff891e;"></i>
                                    @if (amenityOfAccommodation.Ban)
                                    {
                                        <i class="fa fa-ban fa-stack-2x text-danger" style="color: #ff891e;"></i>
                                    }
                                </span>
                                @amenityOfAccommodation.Description @amenityOfAccommodation.Text
                            </li>

                        }
                    </ul>
                }

                @if (Model.Attributes.Any(p => p.SubTypeId == 3 || p.SubTypeId == 4 || p.SubTypeId == 6))
                {
                    <ul class="descriptionList" style="padding-top: 20px;">
                        @foreach (var amenityOfAccommodation in Model.Attributes.Where(p => p.SubTypeId == 3 || p.SubTypeId == 4 || p.SubTypeId == 6))
                        {
                            <li style="padding-top: 10px;">
                                <span class="fa-stack">
                                    <i title="@amenityOfAccommodation.Description @amenityOfAccommodation.Text" class="@Html.GetClassContent(amenityOfAccommodation) fa-stack-1x" style="color: #ff891e;"></i>
                                    @if (amenityOfAccommodation.Ban)
                                    {
                                        <i class="fa fa-ban fa-stack-2x text-danger" style="color: #ff891e;"></i>
                                    }
                                </span>
                                @amenityOfAccommodation.Description @amenityOfAccommodation.Text
                            </li>
                        }
                    </ul>
                }

                @if (Model.Attributes.Any(p => p.SubTypeId == 5))
                {
                    <ul class="descriptionList" style="padding-top: 20px;">
                        @foreach (var amenityOfAccommodation in Model.Attributes.Where(p => p.SubTypeId == 5))
                        {
                            <li style="padding-top: 10px;">
                                <span class="fa-stack">
                                    <i title="@amenityOfAccommodation.Description @amenityOfAccommodation.Text" class="@Html.GetPaymentClassContent(amenityOfAccommodation) fa-stack-1x" style="color: #ff891e;"></i>
                                    @if (amenityOfAccommodation.Ban)
                                    {
                                        <i class="fa fa-ban fa-stack-2x text-danger" style="color: #ff891e;"></i>
                                    }
                                </span>
                                @amenityOfAccommodation.Description @amenityOfAccommodation.Text
                            </li>
                        }
                    </ul>
                }

                @if (Model.Attributes.Any(p => p.SubTypeId == 2))
                {
                    <ul class="descriptionList" style="padding-top: 20px;">
                        @foreach (var amenityOfAccommodation in Model.Attributes.Where(p => p.SubTypeId == 2))
                        {
                            <li style="padding-top: 10px;">
                                <span class="fa-stack">
                                    <i title="@amenityOfAccommodation.Description @amenityOfAccommodation.Text" class="@Html.GetAmenityOfRoomClassContent(amenityOfAccommodation) fa-stack-1x" style="color: #ff891e;"></i>
                                    @if (amenityOfAccommodation.Ban)
                                    {
                                        <i class="fa fa-ban fa-stack-2x text-danger" style="color: #ff891e;"></i>
                                    }
                                </span>
                                @amenityOfAccommodation.Description @amenityOfAccommodation.Text
                            </li>
                        }
                    </ul>
                }
            </aside>
        </div>
    </div>
</section>

<!-- RELATED SECTION -->
<section class="relatedSection">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionTitle2">
                    <h2>you may also like</h2>
                </div>
            </div>
        </div>
    </div>
</section>